* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./img/fondo.jpg);
}

nav {
    width: 18%;
    padding: 30px;
}

.list {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

a {
    color: #1461BB;
    text-decoration: none;
    font-size: 22px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(1.5px);

}

img {
    width: 100px;
    height: 100px;
    padding: 8px;
}

/* Login */

.container-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 89vh;
}

.container {
    background-color: rgba(0, 0, 0, 0.281);
    backdrop-filter: blur(1.5px);
    width: 28%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lilyoda {
    height: 170px;
    width: 170px;
    margin-left: 25px;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 25px;
}

input {
    background-color: black;
    color: white;
    font-size: 1em;
    width: 40%;
    height: 45px;
    border-radius: 25px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin: 13px;
}

.button {
    background-color: #343434;
    color: white;
    height: 50px;
    width: 40%;
    border-radius: 25px;
    border: none;
    margin: 10px;
    font-size: 1.3em;
    cursor: pointer;
}

.button:hover {
    background-color: red;
}

label {
    font-size: 35px;
    color: white;
}

.placeholder {
    text-align: center;
}
